/*banner*/

#banner {
  position: relative;
  overflow: hidden;
  margin-bottom: -4px;
  img{
    width: 100%;
  }
  .text{
    position: absolute;
    top: 47.49%;
    right: 11.04%;
    text-align: left;
    max-width: 530px;
    width: 100%;
    margin: 0 0 0 auto;
    h1{
      font-family: "Komoda";
      font-weight: 400;
      font-size: 150px;
      color: #FFFFFF;
      line-height: 152px;
      text-shadow: 5px 5px 4px rgba(0,0,0,0.25)
    }
    p{
      font-family: "Product Sans";
      font-weight: 400;
      font-size: 25px;
      color: #FFFFFF;
      letter-spacing: 3.8px;
      line-height: 33px;
      margin: 5px 0 22px;
      text-shadow: 5px 5px 4px rgba(0,0,0,0.25)
    }
    .bnBtn{
      text-align: center;
      font-family: "Montserrat";
      font-size: 13px;
      font-weight: 600;
      color: #FFF;
      display: inline-block;
      padding: 7px 0px;
      background: #B6121D;
      max-width: 213px;
      width: 100%;
      line-height: 120%;
      border: 1px solid transparent;
      transition: all 0.5s ease;
      &:hover {
        background: #ddd;
        border-color: #ddd;
        color: #000;
      }
    }
  }
  .buttons{
    position: absolute;
    bottom: 37px;
    left: 50%;
    transform: translate(-50%);
    max-width: 145px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;;
    justify-content: space-between;
    a{
      color: #FFFFFF;
      font-size: 40px;
      line-height: 12px;
      &:hover{
        color: #B6121D
      }
      &:first-child{
        color: #B6121D;
      }
    }
  }
}
