/*footer*/

#footer {
  position: relative;
  background: #B6121D;
  padding: 0;
  z-index: 1;
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
  .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .ftLeft{
      img.ftLogo{
        margin-top: -16px;
        margin-left: -40px;
      }
    }
    .ftMid{
      p{
        letter-spacing: 12px;
        a{
          font-family: "Socialico";
          font-size: 35px;
          color: #FFFFFF;
        }
      }
    }
    .ftRight{
      p{
        margin: 0 auto;
        font-family: "Product Sans";
        font-weight:400;
        font-size: 16px;
        color: #FFF;
      }
    }
  }
}
