/*header*/

#header {
  position: relative;
  background: #B6121D;
  padding: 7px 0 0;
  z-index: 999;
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0 0 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          position: relative;
          font-family: "Product Sans";
          font-weight: 700;
          font-size: 15px;
          color: #FFFFFF;
        }
        &.active-menu a, a:hover {
          color: #fff;
          &::after{
            content:'';
            width: 100%;
            height: 5px;
            background: #FFF;
            position: absolute;
            bottom: -21px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    .hdLeft{
      img.headerLogo{
        margin-bottom: -12px;
        margin-left: -45px;
      }
    }
    .hdRight{
      max-width: 775px;
      width: 100%;
      text-align: right;
      .hdRightTop{
        max-width: 613px;
        width: 100%;
        margin: 0 0 33px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        p{
          margin: 0;
          font-family: "Product Sans";
          font-weight: 400;
          font-size: 16px;
          color: #FFF;
          a.hdEmail{
            line-height: 19px;
            padding-left: 25px;
            background: url(../images/common/icons.png)no-repeat 0 5px;
          }
          a.hdPhone{
            line-height: 19px;
            padding-left: 25px;
            background: url(../images/common/icons.png)no-repeat 0 -15px;
          }
          &.sm{
            letter-spacing: 6px;
            a{
              font-family: "Socialico";
              font-weight: 400;
              font-size: 30px;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}
