/*---------------------------------section6---------------------------------*/
#section6{
  padding: 54px 0 79px;
  h2{
    font-size: 85px;
    color: #B6121D;
    letter-spacing: 12px;
    line-height: 88px;
  }
  p{
    font-family: "Product Sans";
    font-weight: 400;
    font-size: 20px;
    color: #212121;
    line-height: 24px;
    margin: 26px auto 52px;
    max-width: 1160px;
    letter-spacing: 5px;
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    img{
      margin: 9px 0;
      max-width: 269px;
      width: 19%;
    }
  }
  a.btn{
    margin-top: 36px;
  }
}
