/*--------------------------------section2--------------------------------*/
#section2{
  padding: 115px 0 110px;
  .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    .sec2Left{
      width: 37.55244755244755%;
      text-align: left;
      .text{
        text-align: left;
        h2{
          font-size: 120px;
          color: #B6121D;
          line-height: 122px;
          letter-spacing: 13px;
          margin: 0;
        }
        p{
          &:nth-of-type(1){
            font-family: "Product Sans";
            font-weight: 400;
            font-size: 25px;
            color: #525252;
            line-height: 33px;
            letter-spacing: 4px;
            margin: 10px 0;
          }
          font-family: "Product Sans";
          font-weight: 400;
          font-size: 17px;
          color: #525252;
          line-height: 28px;
          margin: 22px 0;
        }
      }
      a.btn{margin-top: 22px;}
    }
    .sec2Right{
      width: 55.87412587412588%;
      img{
        max-width: 799px;
        width: 90%;
      }
    }
  }
}
