/*-------------------------------section 8-------------------------------*/
#section8{
  background: url(../images/common/section8.jpg)no-repeat center top;
  background-size: cover;
  padding: 114px 0 0;
  position: relative;
  min-height: 561px;
  .container{
    padding: 32px 90px 0;
    background: #fff;
    max-width: 602px;
    width: 100%;
    position: absolute;
    top: -179px;
    left: 50%;
    transform: translateX(-50%);
    &::before{
      content: '';
      position: absolute;
      width: 269px;
      height: 5px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #B6121D;
    }
    h2{
      font-size: 85px;
      color: #0026BC;
      line-height: 88px;
      letter-spacing: 12px;
      max-width: 291px;
      margin: 0 auto;
    }
    form{
      input[type="text"]{
        max-width: 598px;
        width: 100%;
        height: 40px;
        border-radius: 0;
        border: 1px solid transparent;
        background: #EEEEEE;
        margin: 7px auto;
        &::placeholder{
          font-family: "Product Sans";
          font-weight: 400;
          font-size: 17px;
          color: #525252;
        }
      }
      textarea{
        margin: 7px auto;
        max-width: 598px;
        width: 100%;
        height: 243px;
        border-radius: 0;
        border: 1px solid transparent;
        background: #EEEEEE;
        resize: none;
        &::placeholder{
          font-family: "Product Sans";
          font-weight: 400;
          font-size: 17px;
          color: #525252;
        }
      }
    }
  }
  .sec8Left{
    margin-left: 4px;
    max-width: 151px;
    width: 100%;
    text-align: left;
    h3{
      font-family: "Komoda";
      font-weight: 400;
      font-size: 40px;
      color: #FFFFFF;
      line-height: 44px;
      letter-spacing: 6px;
    }
    ul{
      padding: 0 0 0 6px;
      margin: 18px auto 0;
      li{
        display: block;
        font-family: "Product Sans";
        font-weight:400;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 182%
      }
    }
  }
  .sec8Right{
    text-align: left;
    margin-right: -114px;
    h3{
      font-family: "Komoda";
      font-weight: 400;
      font-size: 40px;
      color: #FFFFFF;
      line-height: 44px;
      letter-spacing: 6px;
    }
    p{
      margin: 18px auto 0;
      font-family: "Product Sans";
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 23px;
      span{
        display: block;
      }
      &:nth-of-type(3){
        span{
          margin-top: 10px;
        }
      }
    }
  }
}
