/*---------------------------------section6---------------------------------*/
#section7{
  position: relative;
  background: url(../images/common/map.jpg)no-repeat center top;
  padding: 197.5px 0;
}
