/*--------------------------------section3--------------------------------*/
#section4{
  padding: 58px 0 108px;
  h2{
    font-size: 85px;
    color: #B6121D;
    line-height: 88px;
    letter-spacing: 13px
  }
  p.desc{
    margin-top: 18px;
    font-family: "Product Sans";
    font-weight: 400;
    font-size: 20px;
    color: #212121;
    letter-spacing: 5px;
  }
  .container1{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    dl{
      max-width: 265px;
      width: 100%;
      dd{
        padding: 18px 0 0;
        margin: 0;
        font-family: "Product Sans";
        font-weight: 400;
        font-size: 16px;
        h4{
          color: #B6121D;
        }
        p{
          color: #525252;
          line-height: 19px;
          letter-spacing: 0.2px
        }
      }
    }
  }
  a.btn{
    margin: 20px 0 58px;
  }
  .container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    img{
      max-width: 445px;
      width: 32%;
    }
  }
}
