/*------------------------------section 5------------------------------*/
#section5{
  background: url(../images/common/section5.jpg)no-repeat center top;
  background-size: cover;
  padding: 46px 0 89px;
  h2{
    font-size: 85px;
    color: #FFFFFF;
    line-height: 88px;
    letter-spacing: 12px;
    margin-bottom: 10px;
  }
  .container{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    dl{
      max-width: 253px;
      width: 22%;
      dt{
        img{
          max-width:253px;
          width: 100%;
        }
      }
      dd{
        padding: 19px 0 0;
        margin: 0;
        font-family: "Product Sans";
        font-weight: 400;
        color: #FFFFFF;
        h4{
          font-size: 22px;
          line-height: 29px;
        }
        p{
          margin: 3px 0 0;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
}
