/*----------------------------------section1----------------------------------*/
#section1{
  background: url(../images/common/bgSection1.jpg)no-repeat center top;
  background-size: 100% 100%;
  padding: 68px 0 111px;
  .row{
    max-width: 100%
  }
  h2{
    letter-spacing: 18px;
  }
  .wrapper{
    padding: 76px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
    dl{
      margin: 0 auto;
      max-width: 288px;
      width: 100%;
      dt{
        img{
          align-self: center;
        }
      }
      dd{
        margin: 10px 0 0;
        font-family: "Komoda";
        font-weight: 400;
        font-size: 60px;
        color: #FFFFFF;
        letter-spacing: 6px;
        line-height:61px;
      }
    }
  }
}
