/*--------------------------------section3--------------------------------*/
#section3{
  background: url(../images/common/section3.jpg)no-repeat center top;
  background-size: cover;
  padding: 67px 0 129px;
  position: relative;
  h2{
    font-size: 85px;
    color: #FFFFFF;
    line-height: 88px;
    letter-spacing: 12px;
  }
  p{
    margin:10px 0 40px;
    font-family: "Product Sans";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
    letter-spacing: 5px
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    dl{
      dd{
        padding: 20px 0 0;
        margin: 0;
        font-family: "Product Sans";
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
      }
    }
  }
  img.rbuttons{
    position: absolute;
    bottom: 43px;
    left: 50%;
    transform: translateX(-50%);
  }
}
