h1 {
  font-family: "Komoda";
  font-weight: 400;
  font-size: 85px;
  color: #B6121D;
  line-height: 88px;
  letter-spacing: 12px;
}
h2{
  font-family: "Komoda";
  font-weight: 400;
  font-size: 96px;
  color: #FFFFFF;
  line-height: 100px;
}
