@media screen and (max-width: 1680px){
	#section8 .sec8Right{margin-right: 4px;}
}
@media screen and (max-width: 1440px){
	body {min-width: 320px}
	.row {width: 95%}
	#header .wrapper{
		align-items: flex-start;
	}
  #header .wrapper .hdLeft img.headerLogo{
    max-width: 85%;
		margin-left: 0;
  }
  #banner .text{
    top: 25%;
  }
	#section2 .wrapper .sec2Left .text h2{letter-spacing: 2px}
	#section8 .container{width: 35%;}
}
@media screen and (max-width: 1200px){
	#banner .text h1{
		font-size: 10vw;
		line-height: 100%;
	}
	#section1{
		background-size: cover;
	}
	#section8 .container{width: 34%;padding: 40px;}
	#footer .wrapper{justify-content: space-around;}
}
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
  #header .wrapper{
    flex-wrap: wrap;
    flex-direction: column;
		align-items: center;
  }
	#header .wrapper .hdLeft img.headerLogo{
    margin: 0 auto;
  }
  #header .wrapper .hdRight .hdRightTop{
    flex-direction: column;
    margin: 20px auto;
		p{
			margin: 2.5px auto;
		}
  }
  #header nav ul li {
    padding: 10px 0;
  }
  #banner .text{
    top: 10%;
  }
	#banner .buttons a{display: none;}
	#section1, #section2, #section3, #section4, #section5,#section6,#section8 {
		padding: 20px 0;
	}
	#section2 .wrapper{
		flex-direction: column;
    margin: 20px auto;
		.sec2Left,.sec2Right{width: 100%;text-align: center;margin: 20px auto;}
	}
	#section2 .wrapper .sec2Left .text h2{letter-spacing: 13px}
	#section3 .container{justify-content: space-around;}
	#section3 .container dl{padding: 0 20px;}
	#section4 .container1, #section4 .container2 {justify-content: space-around;}
	#section4 .container1 dl{padding: 0 20px;}
	#section4 .container2 img{width: 44%;padding: 20px;}
	#section5 .container{justify-content: space-around;}
	#section5 .container dl{width: 100%;padding: 0 20px;}
	#section6 .container {justify-content: space-around;}
	#section6 .container img{width: 100%}
	#section8 .container{position: relative;width: 100%;top: 0;}
	#section8 .sec8Left, #section8 .sec8Right{margin-top: 20px;}
	#footer .wrapper .ftLeft img.ftLogo{width: 90%;margin: 0 auto;}
}
