@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #B6121D;
  }
  h1{font-size: 10vw!important; line-height: 100%!important; }
  h2{font-size: 10vw!important; line-height: 100%!important; text-align: center!important;}
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 93.8%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; padding: 0;}
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
  #header nav ul li.active-menu a::after, #header nav ul li a:hover::after{display: none;}
  #banner{
    margin: 0;
  }
  #banner .text{
    position: relative;
    text-align: center;
    margin: 0 auto;
    top: 10%;
    padding: 20px 0;
    right: unset;
  }
  #banner .buttons{
    bottom:unset;
    top: 40%;
    transform: translate(-50%,-60%);

  }
  #banner .text h1{
    font-size: 18vw;
    color: #000;
    line-height: 100%
  }
  #banner .text p{
    font-size: 4vw;
    color: #000;
    line-height: 100%
  }
  #section1{background-size: cover;}
  #section1 .wrapper{padding: 20px 0;}
  #section3 img.rbuttons{display: none;}
  #section4 .container2 img{width: 43%;padding: 20px;}
  #section8 .container{max-width: 100%;padding: 40px 8px;}
  .cta{background: #B6121D url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #B6121D ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
