@media screen and (max-width: 600px){
  #section1 .wrapper dl{margin: 0 auto 20px;}
  #section1 .wrapper dl dd{font-size: 10vw;line-height: 100%}
  #section4 .container2 img{width: 80%;padding: 20px;}
}
