@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Product Sans'; src: url("fonts/ProductSans-Regular.woff2") format("woff2"), url("fonts/ProductSans-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Product Sans'; src: url("fonts/ProductSans-Bold.woff2") format("woff2"), url("fonts/ProductSans-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Komoda'; src: url("fonts/Komoda-Regular.woff2") format("woff2"), url("fonts/Komoda-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff"); font-weight: 600; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: "Product Sans"; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1430px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; font-family: "Komoda"; font-size: 30px; font-weight: 400; color: #FFFFFF; display: inline-block; padding: 7px 0; max-width: 189px; width: 100%; letter-spacing: 6px; background: #B6121D; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-family: "Komoda"; font-weight: 400; font-size: 85px; color: #B6121D; line-height: 88px; letter-spacing: 12px; }

h2 { font-family: "Komoda"; font-weight: 400; font-size: 96px; color: #FFFFFF; line-height: 100px; }

/*header*/
#header { position: relative; background: #B6121D; padding: 7px 0 0; z-index: 999; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0 0 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#header nav ul li { display: inline-block; vertical-align: middle; }

#header nav ul li a { position: relative; font-family: "Product Sans"; font-weight: 700; font-size: 15px; color: #FFFFFF; }

#header nav ul li.active-menu a, #header nav ul li a:hover { color: #fff; }

#header nav ul li.active-menu a::after, #header nav ul li a:hover::after { content: ''; width: 100%; height: 5px; background: #FFF; position: absolute; bottom: -21px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#header .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

#header .wrapper .hdLeft img.headerLogo { margin-bottom: -12px; margin-left: -45px; }

#header .wrapper .hdRight { max-width: 775px; width: 100%; text-align: right; }

#header .wrapper .hdRight .hdRightTop { max-width: 613px; width: 100%; margin: 0 0 33px auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#header .wrapper .hdRight .hdRightTop p { margin: 0; font-family: "Product Sans"; font-weight: 400; font-size: 16px; color: #FFF; }

#header .wrapper .hdRight .hdRightTop p a.hdEmail { line-height: 19px; padding-left: 25px; background: url(../images/common/icons.png) no-repeat 0 5px; }

#header .wrapper .hdRight .hdRightTop p a.hdPhone { line-height: 19px; padding-left: 25px; background: url(../images/common/icons.png) no-repeat 0 -15px; }

#header .wrapper .hdRight .hdRightTop p.sm { letter-spacing: 6px; }

#header .wrapper .hdRight .hdRightTop p.sm a { font-family: "Socialico"; font-weight: 400; font-size: 30px; color: #FFFFFF; }

/*banner*/
#banner { position: relative; overflow: hidden; margin-bottom: -4px; }

#banner img { width: 100%; }

#banner .text { position: absolute; top: 47.49%; right: 11.04%; text-align: left; max-width: 530px; width: 100%; margin: 0 0 0 auto; }

#banner .text h1 { font-family: "Komoda"; font-weight: 400; font-size: 150px; color: #FFFFFF; line-height: 152px; text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25); }

#banner .text p { font-family: "Product Sans"; font-weight: 400; font-size: 25px; color: #FFFFFF; letter-spacing: 3.8px; line-height: 33px; margin: 5px 0 22px; text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25); }

#banner .text .bnBtn { text-align: center; font-family: "Montserrat"; font-size: 13px; font-weight: 600; color: #FFF; display: inline-block; padding: 7px 0px; background: #B6121D; max-width: 213px; width: 100%; line-height: 120%; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#banner .text .bnBtn:hover { background: #ddd; border-color: #ddd; color: #000; }

#banner .buttons { position: absolute; bottom: 37px; left: 50%; -webkit-transform: translate(-50%); -ms-transform: translate(-50%); transform: translate(-50%); max-width: 145px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#banner .buttons a { color: #FFFFFF; font-size: 40px; line-height: 12px; }

#banner .buttons a:hover { color: #B6121D; }

#banner .buttons a:first-child { color: #B6121D; }

/*----------------------------------section1----------------------------------*/
#section1 { background: url(../images/common/bgSection1.jpg) no-repeat center top; background-size: 100% 100%; padding: 68px 0 111px; }

#section1 .row { max-width: 100%; }

#section1 h2 { letter-spacing: 18px; }

#section1 .wrapper { padding: 76px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

#section1 .wrapper dl { margin: 0 auto; max-width: 288px; width: 100%; }

#section1 .wrapper dl dt img { -ms-flex-item-align: center; align-self: center; }

#section1 .wrapper dl dd { margin: 10px 0 0; font-family: "Komoda"; font-weight: 400; font-size: 60px; color: #FFFFFF; letter-spacing: 6px; line-height: 61px; }

/*--------------------------------section2--------------------------------*/
#section2 { padding: 115px 0 110px; }

#section2 .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: justify; align-content: space-between; }

#section2 .wrapper .sec2Left { width: 37.55244755244755%; text-align: left; }

#section2 .wrapper .sec2Left .text { text-align: left; }

#section2 .wrapper .sec2Left .text h2 { font-size: 120px; color: #B6121D; line-height: 122px; letter-spacing: 13px; margin: 0; }

#section2 .wrapper .sec2Left .text p { font-family: "Product Sans"; font-weight: 400; font-size: 17px; color: #525252; line-height: 28px; margin: 22px 0; }

#section2 .wrapper .sec2Left .text p:nth-of-type(1) { font-family: "Product Sans"; font-weight: 400; font-size: 25px; color: #525252; line-height: 33px; letter-spacing: 4px; margin: 10px 0; }

#section2 .wrapper .sec2Left a.btn { margin-top: 22px; }

#section2 .wrapper .sec2Right { width: 55.87412587412588%; }

#section2 .wrapper .sec2Right img { max-width: 799px; width: 90%; }

/*--------------------------------section3--------------------------------*/
#section3 { background: url(../images/common/section3.jpg) no-repeat center top; background-size: cover; padding: 67px 0 129px; position: relative; }

#section3 h2 { font-size: 85px; color: #FFFFFF; line-height: 88px; letter-spacing: 12px; }

#section3 p { margin: 10px 0 40px; font-family: "Product Sans"; font-weight: 400; font-size: 20px; color: #FFFFFF; line-height: 28px; letter-spacing: 5px; }

#section3 .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; -ms-flex-line-pack: justify; align-content: space-between; }

#section3 .container dl dd { padding: 20px 0 0; margin: 0; font-family: "Product Sans"; font-weight: 400; font-size: 18px; color: #FFFFFF; }

#section3 img.rbuttons { position: absolute; bottom: 43px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

/*--------------------------------section3--------------------------------*/
#section4 { padding: 58px 0 108px; }

#section4 h2 { font-size: 85px; color: #B6121D; line-height: 88px; letter-spacing: 13px; }

#section4 p.desc { margin-top: 18px; font-family: "Product Sans"; font-weight: 400; font-size: 20px; color: #212121; letter-spacing: 5px; }

#section4 .container1 { max-width: 1160px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#section4 .container1 dl { max-width: 265px; width: 100%; }

#section4 .container1 dl dd { padding: 18px 0 0; margin: 0; font-family: "Product Sans"; font-weight: 400; font-size: 16px; }

#section4 .container1 dl dd h4 { color: #B6121D; }

#section4 .container1 dl dd p { color: #525252; line-height: 19px; letter-spacing: 0.2px; }

#section4 a.btn { margin: 20px 0 58px; }

#section4 .container2 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#section4 .container2 img { max-width: 445px; width: 32%; }

/*------------------------------section 5------------------------------*/
#section5 { background: url(../images/common/section5.jpg) no-repeat center top; background-size: cover; padding: 46px 0 89px; }

#section5 h2 { font-size: 85px; color: #FFFFFF; line-height: 88px; letter-spacing: 12px; margin-bottom: 10px; }

#section5 .container { max-width: 1160px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: justify; align-content: space-between; }

#section5 .container dl { max-width: 253px; width: 22%; }

#section5 .container dl dt img { max-width: 253px; width: 100%; }

#section5 .container dl dd { padding: 19px 0 0; margin: 0; font-family: "Product Sans"; font-weight: 400; color: #FFFFFF; }

#section5 .container dl dd h4 { font-size: 22px; line-height: 29px; }

#section5 .container dl dd p { margin: 3px 0 0; font-size: 14px; line-height: 21px; }

/*---------------------------------section6---------------------------------*/
#section6 { padding: 54px 0 79px; }

#section6 h2 { font-size: 85px; color: #B6121D; letter-spacing: 12px; line-height: 88px; }

#section6 p { font-family: "Product Sans"; font-weight: 400; font-size: 20px; color: #212121; line-height: 24px; margin: 26px auto 52px; max-width: 1160px; letter-spacing: 5px; }

#section6 .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: justify; align-content: space-between; }

#section6 .container img { margin: 9px 0; max-width: 269px; width: 19%; }

#section6 a.btn { margin-top: 36px; }

/*---------------------------------section6---------------------------------*/
#section7 { position: relative; background: url(../images/common/map.jpg) no-repeat center top; padding: 197.5px 0; }

/*-------------------------------section 8-------------------------------*/
#section8 { background: url(../images/common/section8.jpg) no-repeat center top; background-size: cover; padding: 114px 0 0; position: relative; min-height: 561px; }

#section8 .container { padding: 32px 90px 0; background: #fff; max-width: 602px; width: 100%; position: absolute; top: -179px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#section8 .container::before { content: ''; position: absolute; width: 269px; height: 5px; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: #B6121D; }

#section8 .container h2 { font-size: 85px; color: #0026BC; line-height: 88px; letter-spacing: 12px; max-width: 291px; margin: 0 auto; }

#section8 .container form input[type="text"] { max-width: 598px; width: 100%; height: 40px; border-radius: 0; border: 1px solid transparent; background: #EEEEEE; margin: 7px auto; }

#section8 .container form input[type="text"]::-webkit-input-placeholder { font-family: "Product Sans"; font-weight: 400; font-size: 17px; color: #525252; }

#section8 .container form input[type="text"]:-ms-input-placeholder { font-family: "Product Sans"; font-weight: 400; font-size: 17px; color: #525252; }

#section8 .container form input[type="text"]::-ms-input-placeholder { font-family: "Product Sans"; font-weight: 400; font-size: 17px; color: #525252; }

#section8 .container form input[type="text"]::placeholder { font-family: "Product Sans"; font-weight: 400; font-size: 17px; color: #525252; }

#section8 .container form textarea { margin: 7px auto; max-width: 598px; width: 100%; height: 243px; border-radius: 0; border: 1px solid transparent; background: #EEEEEE; resize: none; }

#section8 .container form textarea::-webkit-input-placeholder { font-family: "Product Sans"; font-weight: 400; font-size: 17px; color: #525252; }

#section8 .container form textarea:-ms-input-placeholder { font-family: "Product Sans"; font-weight: 400; font-size: 17px; color: #525252; }

#section8 .container form textarea::-ms-input-placeholder { font-family: "Product Sans"; font-weight: 400; font-size: 17px; color: #525252; }

#section8 .container form textarea::placeholder { font-family: "Product Sans"; font-weight: 400; font-size: 17px; color: #525252; }

#section8 .sec8Left { margin-left: 4px; max-width: 151px; width: 100%; text-align: left; }

#section8 .sec8Left h3 { font-family: "Komoda"; font-weight: 400; font-size: 40px; color: #FFFFFF; line-height: 44px; letter-spacing: 6px; }

#section8 .sec8Left ul { padding: 0 0 0 6px; margin: 18px auto 0; }

#section8 .sec8Left ul li { display: block; font-family: "Product Sans"; font-weight: 400; font-size: 16px; color: #FFFFFF; line-height: 182%; }

#section8 .sec8Right { text-align: left; margin-right: -114px; }

#section8 .sec8Right h3 { font-family: "Komoda"; font-weight: 400; font-size: 40px; color: #FFFFFF; line-height: 44px; letter-spacing: 6px; }

#section8 .sec8Right p { margin: 18px auto 0; font-family: "Product Sans"; font-weight: 400; font-size: 16px; color: #FFFFFF; line-height: 23px; }

#section8 .sec8Right p span { display: block; }

#section8 .sec8Right p:nth-of-type(3) span { margin-top: 10px; }

/*footer*/
#footer { position: relative; background: #B6121D; padding: 0; z-index: 1; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

#footer .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .wrapper .ftLeft img.ftLogo { margin-top: -16px; margin-left: -40px; }

#footer .wrapper .ftMid p { letter-spacing: 12px; }

#footer .wrapper .ftMid p a { font-family: "Socialico"; font-size: 35px; color: #FFFFFF; }

#footer .wrapper .ftRight p { margin: 0 auto; font-family: "Product Sans"; font-weight: 400; font-size: 16px; color: #FFF; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1680px) { #section8 .sec8Right { margin-right: 4px; } }

@media screen and (max-width: 1440px) { body { min-width: 320px; }
  .row { width: 95%; }
  #header .wrapper { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
  #header .wrapper .hdLeft img.headerLogo { max-width: 85%; margin-left: 0; }
  #banner .text { top: 25%; }
  #section2 .wrapper .sec2Left .text h2 { letter-spacing: 2px; }
  #section8 .container { width: 35%; } }

@media screen and (max-width: 1200px) { #banner .text h1 { font-size: 10vw; line-height: 100%; }
  #section1 { background-size: cover; }
  #section8 .container { width: 34%; padding: 40px; }
  #footer .wrapper { -ms-flex-pack: distribute; justify-content: space-around; } }

@media screen and (max-width: 1024px) { body { min-width: 320px; }
  .row { width: 95%; }
  #header .wrapper { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  #header .wrapper .hdLeft img.headerLogo { margin: 0 auto; }
  #header .wrapper .hdRight .hdRightTop { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 20px auto; }
  #header .wrapper .hdRight .hdRightTop p { margin: 2.5px auto; }
  #header nav ul li { padding: 10px 0; }
  #banner .text { top: 10%; }
  #banner .buttons a { display: none; }
  #section1, #section2, #section3, #section4, #section5, #section6, #section8 { padding: 20px 0; }
  #section2 .wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 20px auto; }
  #section2 .wrapper .sec2Left, #section2 .wrapper .sec2Right { width: 100%; text-align: center; margin: 20px auto; }
  #section2 .wrapper .sec2Left .text h2 { letter-spacing: 13px; }
  #section3 .container { -ms-flex-pack: distribute; justify-content: space-around; }
  #section3 .container dl { padding: 0 20px; }
  #section4 .container1, #section4 .container2 { -ms-flex-pack: distribute; justify-content: space-around; }
  #section4 .container1 dl { padding: 0 20px; }
  #section4 .container2 img { width: 44%; padding: 20px; }
  #section5 .container { -ms-flex-pack: distribute; justify-content: space-around; }
  #section5 .container dl { width: 100%; padding: 0 20px; }
  #section6 .container { -ms-flex-pack: distribute; justify-content: space-around; }
  #section6 .container img { width: 100%; }
  #section8 .container { position: relative; width: 100%; top: 0; }
  #section8 .sec8Left, #section8 .sec8Right { margin-top: 20px; }
  #footer .wrapper .ftLeft img.ftLogo { width: 90%; margin: 0 auto; } }

@media screen and (max-width: 800px) { [class*="col-"] { width: 100%; }
  .sticky { position: fixed; top: 0; width: 100%; z-index: 99; background: #B6121D; }
  h1 { font-size: 10vw !important; line-height: 100% !important; }
  h2 { font-size: 10vw !important; line-height: 100% !important; text-align: center !important; }
  #header { padding: 0; }
  #header .row { width: 100%; }
  #header nav { display: block; height: auto; }
  #header nav ul { width: 93.8%; display: none; height: auto; border-bottom: 5px solid #000; padding: 0 15px; }
  #header nav ul li { width: 100%; position: relative; padding: 0; }
  #header nav ul li a { display: block; float: none; padding: 10px 0; }
  #header nav a { text-align: left; width: 100%; }
  #header nav a strong { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px; }
  #header nav a#pull { display: block; color: #fff; background-color: #000; height: 30px; padding: 10px 0; width: 100%; position: relative; }
  #header nav a#pull:after { content: ""; background: url("../images/nav-icon.png") no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
  #header nav ul li.active-menu a::after, #header nav ul li a:hover::after { display: none; }
  #banner { margin: 0; }
  #banner .text { position: relative; text-align: center; margin: 0 auto; top: 10%; padding: 20px 0; right: unset; }
  #banner .buttons { bottom: unset; top: 40%; -webkit-transform: translate(-50%, -60%); -ms-transform: translate(-50%, -60%); transform: translate(-50%, -60%); }
  #banner .text h1 { font-size: 18vw; color: #000; line-height: 100%; }
  #banner .text p { font-size: 4vw; color: #000; line-height: 100%; }
  #section1 { background-size: cover; }
  #section1 .wrapper { padding: 20px 0; }
  #section3 img.rbuttons { display: none; }
  #section4 .container2 img { width: 43%; padding: 20px; }
  #section8 .container { max-width: 100%; padding: 40px 8px; }
  .cta { background: #B6121D url("../images/common/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #B6121D; border-top-left-radius: 40px; bottom: 1%; display: block; height: 80px; position: fixed; right: 0; text-decoration: none; text-indent: -9999em; width: 100px; z-index: 999; } }

@media screen and (max-width: 600px) { #section1 .wrapper dl { margin: 0 auto 20px; }
  #section1 .wrapper dl dd { font-size: 10vw; line-height: 100%; }
  #section4 .container2 img { width: 80%; padding: 20px; } }

@media screen and (max-width: 460px) { #section8 .sec8Left, #section8 .sec8Right { float: none; text-align: center; max-width: 100%; margin: 20px auto; } }
